<!DOCTYPE html>
<html>

<head>
  <title>Shoritter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <a href="/about">Shoritterとは</a>
  <a href="/">Shoritter top</a>
</header>

<body>
  <%= yield %>
</body>

</html>