<!DOCTYPE html>
<html>

<head>
  <title>Shoritter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <ul>

    <li>
      <%= link_to "Shoritterとは","/about" %></li>

    <li>
      <%= link_to "ぼやき一覧","/posts/index" %></li>
    <li>
      <%= link_to "Shoritter topへ","/" %></li>
</header>

<body>
  <%= yield %>
</body>

</html>