<!DOCTYPE html>
<html>





<head>
  <title>Shoritter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <div class="header-logo">
    <%= link_to("Shoritter","/")%>
  </div>
  <ul>
    <li>
      <%= link_to "Shoritterとは","/about",class:"header-items" %></li>
    <li>
      <%= link_to "ぼやき一覧","/posts/index",class:"header-items" %></li>
    <li>
      <%= link_to "ユーザー一覧","/users/index",class: "header-items"%></li>
    <li>
      <%= link_to "ユーザー登録","/signup",class: "header-items"%></li>
    <li>
      <%= link_to "ログイン", "/users/login_form",class: "header-items"%></li>
      </ul>
      
</header>
<% if flash[:notice]%>
<div class="flash">
  <%=flash[:notice]%>
</div>
<%end%>

<body>
  <%= yield %>

  <footer>
  <ul>
  <li>
  <%= link_to "New✍","/posts/new",class:"btn footer-items"%></li></ul>
  </footer>
  </body>

</html>