<!DOCTYPE html>
<html>

<head>
  <title>Shoritter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <ul>

    <li>
      <a href="/about">Shoritterとは</a></li>

    <li>
      <a href="/posts/index">一覧</a></li>
    <li>
      <a href="/">Shoritter top</a></li>
</header>

<body>
  <%= yield %>
</body>

</html>